{:deps
 {com.stuartsierra/component   {:mvn/version "1.1.0"}
  io.pedestal/pedestal.service {:mvn/version "0.7.0-beta-1"}}

 :paths ["src" "resources"]

 :aliases
 {:dev          {:extra-paths ["test"]
                 :extra-deps  {mockery/mockery {:mvn/version "0.1.4"}}}
  :test         {:extra-paths ["test"]
                 :extra-deps  {lambdaisland/kaocha           {:mvn/version "1.88.1376"}
                               lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}
                               mockery/mockery               {:mvn/version "0.1.4"}}
                 :main-opts   ["-m" "kaocha.runner"]}
  :build        {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.1"}}
                 :ns-default build}
  :clj-kondo    {:replace-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                 :main-opts    ["-m" "clj-kondo.main"]}
  :cljfmt-check {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
                 :main-opts  ["--main" "cljfmt.main" "check"]}
  :cljfmt-fix   {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
                 :main-opts  ["--main" "cljfmt.main" "fix"]}
  :outdated     {:deps      {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                 :main-opts ["-m" "antq.core"]
                 ;; Silence SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder"
                 :extra-deps {org.slf4j/slf4j-nop {:mvn/version "2.0.13"}}}
  :clj-watson {:replace-deps
               {io.github.clj-holmes/clj-watson
                {:git/tag "v5.1.2" :git/sha "ae20e1e"}}
               :main-opts ["-m" "clj-watson.cli" "scan"]}}}
